@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

::selection {
  background-color: #73933c;
  color: #fff; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #959595;
  font-size: 1.4rem; }

.c-heading-primary {
  font-size: 3.5rem;
  color: #dcdfe0; }

.c-heading-paragraph {
  font-size: 1.3rem;
  color: #fff; }

.c-heading-secondary {
  font-size: 3.5rem;
  color: #222626;
  font-weight: 300; }

.u-sticky {
  position: fixed;
  top: 0; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-animation-from-right {
  animation-name: moveInRight;
  animation-duration: .8s; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
.c-about {
  margin: 8rem 0; }
  .c-about__image {
    position: relative; }
  .c-about__image--img {
    position: absolute;
    width: auto;
    bottom: -157px;
    left: -80px;
    opacity: 0;
    transform: translateX(10rem);
    transition: 1s ease-out; }
    .c-about__image--img.is-visible {
      transform: translateX(0);
      opacity: 1; }
  .c-about__paragraph {
    margin-bottom: 1.5rem; }

.o-row {
  max-width: 117rem;
  margin: 0 auto; }
  .o-row:not(:last-child) {
    margin-bottom: 8rem; }
  .o-row::after {
    content: "";
    display: table;
    clear: both; }
  .o-row [class^="u-col-"] {
    float: left; }
    .o-row [class^="u-col-"]:not(:last-child) {
      margin-right: 3rem; }
  .o-row .u-col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .o-row .u-col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .o-row .u-col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .o-row .u-col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .o-row .u-col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .o-row .u-col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.o-header {
  height: 100vh;
  width: 100%;
  background-image: url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  border-bottom: 2px solid #85b641; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 120em) {
    .o-header {
      background-image: url(../img/hero.jpg); } }
  .o-header__text-box {
    display: flex;
    height: 100%;
    align-items: center; }
  .o-header__adnotation--rotated {
    position: absolute;
    transform: rotateZ(-90deg);
    top: 50vh;
    left: 0;
    text-transform: uppercase; }
  .o-header__adnotation {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff; }

.c-navigation {
  width: 100%;
  padding: 3.5rem 0;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  transition: 1s; }
  .c-navigation__sticky {
    padding: .5rem 0; }
  .c-navigation__logo {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center; }
    .c-navigation__logo a {
      font-size: 4rem;
      color: #85b641;
      font-weight: 700;
      text-decoration: none; }
  .c-navigation__button {
    position: fixed;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    top: 5rem;
    right: 7rem;
    transition: top 1s; }
    .c-navigation__button:hover {
      opacity: .7; }
    .c-navigation__button.is-active .c-navigation__button--top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #fff; }
    .c-navigation__button.is-active .c-navigation__button--middle {
      opacity: 0;
      background: #fff; }
    .c-navigation__button.is-active .c-navigation__button--bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #fff; }
    .c-navigation__button.is-sticky {
      top: 2.4rem; }
    .c-navigation__button span {
      background: #758160;
      border: none;
      height: .3rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      .c-navigation__button span:nth-of-type(2) {
        top: 11px; }
      .c-navigation__button span:nth-of-type(3) {
        top: 22px; }
  .c-navigation__overlay, .c-navigation__search-overlay {
    position: fixed;
    background: #73933c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden; }
    .c-navigation__overlay.is-open, .c-navigation__search-overlay.is-open {
      opacity: .9;
      visibility: visible;
      height: 100%; }
    .c-navigation__overlay--toggled, .c-navigation__search-overlay--toggled {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .c-navigation__overlay--toggled a, .c-navigation__search-overlay--toggled a {
        display: block;
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 3rem;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 240%;
        transition: all .4s; }
        .c-navigation__overlay--toggled a:hover, .c-navigation__search-overlay--toggled a:hover {
          background-position: 100%;
          color: #73933c;
          transform: translateX(1rem); }
  .c-navigation__search {
    position: fixed;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    top: 4.1rem;
    right: 15rem;
    background: url(../img/search.svg) no-repeat center;
    background-size: 3rem;
    transition: top 1s; }
    .c-navigation__search:hover {
      opacity: .7; }
    .c-navigation__search.is-active {
      background: url(../img/cross.svg) no-repeat;
      background-size: 3rem;
      top: 4.65rem; }
    .c-navigation__search.is-sticky {
      top: 1.6rem; }
    .c-navigation__search.is-sticky.is-active {
      top: 2rem; }

.c-searchform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .c-searchform__input {
    height: 6rem;
    font-size: 5rem;
    font-weight: 300;
    display: inline-block;
    border: none;
    outline: none;
    color: #fff;
    padding: .3rem;
    padding-right: 6rem;
    background: none;
    z-index: 3;
    width: 70rem;
    margin: 3rem 0;
    border-bottom: 1px solid #dcdfe0;
    cursor: text;
    position: relative; }
  .c-searchform__submit {
    display: inline-block;
    paddiing: 1rem;
    color: #fff;
    position: absolute;
    transform: translate(32rem, 4.8rem);
    border: none;
    background: none;
    text-transform: uppercase;
    z-index: 10;
    opacity: .4; }
    .c-searchform__submit:hover {
      opacity: 0.8;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
