@mixin u-clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin u-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin nav-buttons {
    position: fixed;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
}