$color-primary: #73933c;
$color-primary-light: #85b641;
$color-primary-dark: #758160;
$color-secondary: #37461d;
$color-tertiary: #43463e;
$color-tertiary-light: #565a50;
$color-quaternary: #091e28;
$color-quaternary-light: #103445;
$color-text-light: #dcdfe0;
$color-light: #fff;
$color-grey: #959595;
$color-dark: #222626;

$grid-width: 117rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;

$default-font-size: 1.4rem;